@use '../tailwind-values.scss' as tailwind;

.main-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
}

.side-column {
	width: 285px;
	margin: 0 10px;
}

@media (max-width: tailwind.$md-breakpoint) {
	.side-column {
		width: max-content;
	}
}
