
.main-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
}

.side-column {
	width: 285px;
	margin: 0 10px;
}

// Note: 768px is tailwind's md breakpoint
@media (max-width: 768px) {
	.side-column {
		width: max-content;
	}
}

.sticky {
	position: sticky;
	top: 10px;
}
